<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
  </head>
  <body>
    <p>Dear Sir/Madam,</p>
    <p>You have been invited as a {{ role }} in <strong>{{ workspace_title }}</strong>.</p>
    <p>As a {{ role }}, you will have access to the workspace and its forms and responses, and will be able to import forms to the workspace.</p>
    <p>To accept the invitation, please click on the following link:</p>
    <p><a href="[Invitation Link]">{{ invitation_link }}</a></p>
    <p>If you have any questions or concerns, please do not hesitate to contact us.</p>
    <p>We look forward to collaborating with you in <strong>{{ workspace_title }}</strong>!</p>
    <br>
    <p>Best regards,</p>
    <p>The {{ workspace_title }} Team</p>
  <p>
      This link will expire in 7 days.
  </p>
  </body>
</html>