@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

@import './tailwind.css';
@import './range-slider.css';
@import './scrollbar.css';

html,
body {
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
    --font-sans-serif: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    --font-serif: Georgia, Times, serif;
    --font-mono: Menlo, Courier, monospace;
}

.mark-down-text {
    word-break: break-word;
    white-space: break-spaces;
    color: #484848;
    font: inherit;
    font-size: inherit;
    line-height: inherit;
}

.mark-down-text p {
    white-space: pre-wrap;
    word-break: break-word;
    color: #484848;
    font: inherit;
    font-size: inherit;
    line-height: inherit;
}

.mark-down-text p a {
    color: #3b82f6 !important;
}

.mark-down-text p:last-child {
    margin: 0;
    padding: 0;
}

.input[type='radio']:checked {
    content: '';
    display: block;
    position: relative;
    top: 3px;
    left: 3px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: red;
}

.side {
    background-color: rgba(0, 191, 255, 0.04);
}

.attachment {
    height: 250px;
}

.bannerdiv:hover .editbannerdiv {
    display: flex;
    justify-content: center;
    align-items: center;
}

.screen-navbar {
    max-height: calc(100vh - 68px);
    overflow: auto;
}
.geIUsg div:first-child {
    white-space: nowrap;
    overflow: visible !important;
    text-overflow: ellipsis;
}

.react-tel-input .form-control {
    position: relative;
    font-size: 14px;
    letter-spacing: 0.01rem;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    margin-left: 0;
    background: #fff;
    border: 1px solid #cacaca;
    border-radius: 4px;
    line-height: 25px;
    height: 46px !important;
    width: 100% !important;
    outline: none;
    padding: 12px 16px 12px 64px !important;
}

.react-tel-input .selected-flag {
    outline: none;
    position: relative;
    width: 52px !important;
    height: 100% !important;
    padding: 0 0 0 14px;
    border-radius: 3px 0 0 3px;
}
