[flake8]
; Minimal configuration for Flake8 to work with Black.
max-line-length = 88
extend-ignore = E203, E501, C401, B010, U100, D100, D101, D102, D104, D106, D107, D200, D205, D400, D401
exclude = .git,__pycache__,docs/source/conf.py,old,build,dist
unused-arguments-ignore-abstract-functions = false

classmethod-decorators =
    classmethod
    validator
