# API Configuration
NEXT_PUBLIC_API_ENDPOINT_HOST=http://localhost:8000/api/v1
INTERNAL_DOCKER_API_ENDPOINT_HOST=http://localhost:8000/api/v1

HTTP_SCHEME=http://

# Workspace Configuration
CUSTOM_DOMAIN_IP=135.181.40.62

# Analytics & Monitoring
UMAMI_SCRIPT_URL=https://eu.umami.is/script.js
UMAMI_WEBSITE_ID=

# Elastic APM
ELASTIC_APM_API_KEY=
ELASTIC_APM_SERVICE_NAME=Bettercollected-Webapp
ELASTIC_APM_SERVER_URL=https://apm.sireto.io
ELASTIC_APM_ENVIRONMENT=local

GOOGLE_CLIENT_ID=
GOOGLE_PICKER_API_KEY=

UNSPLASH_ACCESS_KEY=

FORM_DOMAIN=localhost:3001
DASHBOARD_DOMAIN=localhost:3000